body{
    background-image: url('src/bg-01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #232323;
}
.content-right{
    background-color: rgba(000, 000, 000, 0.3);
    margin-left: 0em;
    color: white;
}
.card .bc {
    background-color: rgba(000, 000, 000, 0.3);
}